.about__amber:hover {
    border-color: oklch(76.9% 0.188 70.08);
    box-shadow: 10px 20px 50px oklch(76.9% 0.188 70.08 / 0.25);
}

.about__indigo:hover {
    border-color: oklch(58.5% 0.233 277.117);
    box-shadow: 10px 20px 50px oklch(58.5% 0.233 277.117 / 0.25);
}

.about__blue:hover {
    border-color: oklch(62.3% 0.214 259.815);
    box-shadow: 10px 20px 50px oklch(62.3% 0.214 259.815 / 0.25);
}