@media (max-width: 768px) {
    .content-f1 {
        justify-content: flex-start;
        display: flex;
    }

    .subscript {
        display: flex;
        gap: 5px;
    }

    .text-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .nav {
        display: none;
    }

    .main-text {
        font-size: 6vw;
    }

    .subs1 {
        font-size: 3.5vw;
    }

    .subs2 {
        font-size: 3vw;
    }

    .img {
        display: flex;
        justify-content: start;

    }

    .img-parent {
        width: 100%;
    }


    .img-pic {
        width: 100%;
    }

    .title-link-main {
        display: flex;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        justify-content: start;
        gap: 20px;
    }

    .content-holder {
        padding: 10px;
    }

    .create-parent {
        width: 100%;
    }

    .create-area {
        justify-content: start;
    }

    .burger {
        display: flex;
    }

    .delete-area {
        flex-wrap: wrap;
    }

    .setting-main {
        width: 100%;
        border: none;

    }

    .setting-header {
        font-size: 20px;
    }

    .setting-text {
        font-size: 12px;
    }

    .setting-btn {
        padding: 2px;
        font-size: 10px;
    }





}